
.font-regular {
    font-weight: 400;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.5;
}

.font-regular {
    font-family:  sans-serif;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.text-nowrap {
    text-wrap: nowrap;
}
